.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  margin-bottom: 20px;
  font-size: 32px;
  text-align: center;
}

.form__input {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.form__button {
  cursor: pointer;
}